/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 html,
 body{
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

div#navigation{
	background: #41738c;
	margin:0px;
	color: white;
	height: 60px;
	border-bottom: solid 1px #969696;
}
div#navigation ul li a{
	color: white;
	text-decoration: none;
	font-weight: 100;
	font-size: 24px;
}
div#navigation a:hover{
	color: white;
	text-decoration: underline;
}
div#navigation div#nav{
	max-width: 960px;
	margin: 0 auto;
}
div#nav ul{
	margin:0px;
	padding-top: 16px;
	padding-bottom: 20px;
	padding-left: 0px;
	display: inline-block;
}
div#nav ul li{
	float: left;
	margin-right: 30px;
	list-style: none;
}
div#nav div#social{
	float: right;
	margin-top: 10px;
}
div#nav div#social img{
	margin-left: 5px;
	
}
div#wrapper{
	padding-top: 1px;
	padding-bottom: 1px;
	background: white;
	box-shadow: inset 0 0 10px #000000;
}
div#content{
	max-width: 960px;
	margin: 0 auto;
}
div#footer{
	background: #41738c;
	color: white;
	height: 50px; 
	padding-top: 30px;
	text-align: center;
	margin: 0px;
	font-weight: 100;
}
.center{
	text-align: center;
	margin: 0 auto;
}
.right{
	float: right;
}
.left {
	float: left;
}
a{
	color: #7d9cb0;
}
div#content h3{
	font-weight: 200;
	color: #41738c;
}
.floatClearer{
	clear: both;
}




@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@media (max-width: 900px) {
	div#homeIntro h1{
		font-size: 50px !important;
	}

	div#homeIntro h2{
		font-size: 30px !important;
	}

	div#homeIntro h3{
		font-size: 12px !important;
	}	

	div#navigation{
		height: 40px;
	}
	div#navigation ul li a{
		font-size: 18px;
	}

	div#nav ul{
		margin:0px;
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	div#nav ul li{
		margin-right: 10px;
	}
	div#nav div#social{
		margin-top: 0px;
	}
	div#nav div#social img{
		margin-left: 0px;
		height: 36px;
		margin-top: 2px;
	}
}
@media (max-width: 640px) {
	div#content{
		width: 95% !important;
		margin: 0 auto;
	}
    div#welcomeText{
    	margin: 0 auto;
    	width: 95%;
    }
    div#homeIntro h1{
		font-size: 74px !important;

	}
	div#homeIntro h2{
		font-size: 46px !important;
	}
	div#homeIntro h3{
		font-size: 16px !important;
	}

  	.right, .left{
  		float: none;
  		display: block !important;
  		
  	}

  	#codecamp{
  		width: 70% !important;
  		display: inline-block !important;
  		float: left !important;
  	}
  	#bmc{
  		width: 30% !important;
  		display: inline-block !important;
  		
  	}
  	#bmc img{
  		margin: 0 !important;
  	}
  	div#column1, div#column2, div#column3{
  		width: 100% !important;
  	}
}
