// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.indexColumn{
	p{
		padding-left:10px;
		padding-right:10px;
	}
	h3{
		padding-left: 10px;
	}
}
div#moreInfo{
	clear:both;
	margin-top: 50px;
	h3{
		text-align:center;
	}
	
}
.clear{
	clear:both;
}