<!DOCTYPE html>
<html>
<head>
  <title>CodeCampDemoProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav">
		<div>
			<ul>
				<li>Home</li>
				<li>Blog</li>
			</ul>
			<img src="assets/kainos.png"/>
		</div>

	</div>
	<div id="homeIntro">
		<div></div>
		<div id="">
			<h1>Welcome</h1>
			<h2>to my website</h2>
			<h3>Which I built as part of CodeCamp</h3>
		</div>

	</div>
	<div id="wrapper">
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<div id="footer">Developed by Enda Mc Cormack for Kainos Software</div>
</body>
</html>
